/* CSS FONTS */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

/* CSS VARIABLE */

:root {
  --first-color: #0053d0;
  --second-color: #d0cde1;
  --third-color: #0c0e16;
  --add-color: #080910;
}

/* CSS RESET  */

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 1;
  background-color: var(--third-color);
}

body {
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none;
}

/* CSS RESET */

/* RESPONSIVE */

@media only screen and (max-width: 1024px) {
  html,
  body {
    overflow-x: hidden;
  }

  div.footer_logo {
    display: none;
  }

  .home_data .home_title span {
    font-size: 100px;
  }

  .topnav {
    display: none;
  }

  .line {
    display: none;
  }

  header .logo {
    display: none;
  }

  .nav__toggle {
    cursor: pointer;
    position: fixed;
    left: 0;
    z-index: 9;
    background-color: var(--second-color);
    font-size: 50px;
    padding: 10px 10px 0 10px;
    margin: 15px;
    border: none;
    border-radius: 5px;
  }

  .nav__toggle:hover {
    background-color: aliceblue;
  }

  .sidebar .show ul {
    left: 0;
  }

  .sidebar {
    display: block;
  }

  .sidebar ul {
    background-color: rgba(50, 50, 50, 0.65);
    z-index: 9;
    border-right: 5px solid var(--second-color);
    position: fixed;
    left: -50%;
    top: 10%;
    transition: 1s;
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
  }

  .sidebar ul li {
    text-align: center;
    list-style: none;
    padding: 20px 0;
    padding-right: 15px;
  }

  .sidebar ul li a {
    text-decoration: none;
    color: var(--second-color);
    font-size: 26px;
  }

  .sidebar li a {
    color: var(--second-color);
    padding-bottom: 1px;
    position: relative;
  }

  .sidebar li a:after {
    background: none repeat scroll 0 0 transparent;
    bottom: -3px;
    content: "";
    display: block;
    height: 3px;
    left: 50%;
    position: absolute;
    background: var(--first-color);
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
    border-radius: 50px;
  }
  .sidebar li a:hover:after {
    width: 100%;
    left: 0;
  }

  div.home_data h1 {
    text-align: center;
  }

  div.down_arrow .home_arrow {
    display: none;
  }
  div.home_social {
    margin-left: 40px;
  }

  div.home_img {
    display: none;
  }

  div.about_img {
    display: none;
  }

  div.about_text h1 {
    text-align: center;
    font-size: 50px;
    margin: 0;
    padding: 0;
  }
  div.about_text p {
    text-align: center;
    font-size: 20px;
  }

  div.about_content {
    margin: 0 auto;
  }
  div.skills_content {
    text-align: center;
  }

  div.skills_bar {
    margin: 0 auto;
  }

  div.skills_text h1 {
    text-align: center;
    font-size: 50px;
  }
  div.skills_text p {
    text-align: center;
    font-size: 20px;
  }
  div.skills_text li {
    text-align: center;
    font-size: 20px;
  }

  .work_container .work_img img {
    width: 99%;
    margin: auto;
    padding: auto;
    text-align: center;
  }
  div.works_text h1 {
    font-size: 50px;
    text-align: center;
  }
  div.works_text p {
    text-align: center;
    font-size: 30px;
  }

  div.contact_content {
    text-align: center;
    margin-bottom: 25px;
  }
  div.contact_text h1 {
    font-size: 100px;
    line-height: 1;
  }
  .footer {
    align-items: center;
    background-color: var(--add-color);
    color: var(--second-color);
    text-align: center;
    padding: 20px auto;
    width: 100%;
  }
  .footer_title {
    font-size: 25px;
    margin-bottom: 25px;
  }
  .footer_social {
    margin-bottom: 5px;
  }
  .footer_icon {
    font-size: 40px;
    color: var(--second-color);
    margin: 0 10px;
  }
}

@media only screen and (min-width: 1024px) {
  .openbtn {
    display: none;
  }

  header {
    display: flex;
    padding: 15px 200px;
    justify-content: space-between;
    transition: 1s;
  }

  header nav {
    display: flex;
    align-items: center;
  }

  header nav ul {
    display: flex;
    padding: 0;
  }

  header nav ul li {
    font-size: 25px;
    list-style-type: none;
    padding: 0 15px;
  }

  header nav ul li a {
    text-decoration: none;
    align-items: center;
    justify-content: center;
    color: var(--second-color);
    transition: 0.5s;
    position: relative;
    top: 0;
  }

  .navbar li a {
    color: var(--second-color);
    padding-bottom: 1px;
    position: relative;
  }

  .navbar li a:after {
    background: none repeat scroll 0 0 transparent;
    bottom: -3px;
    content: "";
    display: block;
    height: 3px;
    left: 50%;
    position: absolute;
    background: var(--first-color);
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
    border-radius: 50px;
  }
  .navbar li a:hover:after {
    width: 100%;
    left: 0;
  }

  a.active {
    border-bottom: 3px solid var(--first-color);
  }
  a.actived {
    border-bottom: 3px solid var(--first-color);
  }

  section#home {
    flex-direction: row;
  }

  main section .home_content {
    display: flex;
    padding: 90px 200px;
    justify-content: space-between;
  }
  .about_content {
    display: flex;
    justify-content: space-between;
    padding: 230px 200px;
  }

  .skills_content {
    display: flex;
    justify-content: space-between;
    padding: 270px 200px;
  }

  .works_content {
    padding: 50px 200px;
  }

  .contact_content {
    padding: 100px 200px 200px;
    text-align: center;
  }

  .footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--add-color);
    color: var(--second-color);
    text-align: center;
    padding: 20px 30px 20px 42%;
  }
  .footer_title {
    font-size: 25px;
    margin-bottom: 25px;
  }
  .footer_social {
    margin-bottom: 5px;
  }
  .footer_icon {
    font-size: 40px;
    color: var(--second-color);
    margin: 0 10px;
  }

  .sidebar {
    display: block;
  }

  .sidebar ul {
    position: fixed;
    left: -50%;
    top: 30%;
    transition: 1s;
  }

  .sidebar ul li {
    text-align: center;
    list-style: none;
    padding: 20px 0;
  }

  .sidebar ul li a {
    text-decoration: none;
    color: var(--second-color);
    font-size: 26px;
  }

  .sidebar li a {
    color: var(--second-color);
    padding-bottom: 1px;
    position: relative;
  }

  .sidebar li a:after {
    background: none repeat scroll 0 0 transparent;
    bottom: -3px;
    content: "";
    display: block;
    height: 3px;
    left: 50%;
    position: absolute;
    background: var(--first-color);
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
    border-radius: 50px;
  }
  .sidebar li a:hover:after {
    width: 100%;
    left: 0;
  }

  .pop ul {
    left: 0;
  }

  header.sticky {
    z-index: 11;
    padding-left: 70px;
    position: sticky;
    top: 0;
  }

  header.sticky nav ul li a {
    top: -100px;
  }
}

/* RESPONSIVE */

/* Home */

.home_title {
  margin-bottom: 25px;
}

.home_title span {
  color: var(--first-color);
  font-size: 144px;
}

.home_data h1 {
  color: var(--second-color);
  font-size: 100px;
  text-align: left;
}

.home_social a.home_social_icon {
  color: var(--first-color);
  font-size: 53px;
  padding-right: 50px;
}

.home_social a.home_social_icon:hover {
  color: var(--second-color);
  transition: 0.5s;
}

section#home {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.down_arrow .home_arrow {
  font-size: 40px;
  color: var(--second-color);
  position: relative;
  top: 0;
  transition: top ease 0.5s;
}

.down_arrow .home_arrow:hover {
  top: -10px;
}

.bg_line1 {
  position: absolute;
  top: 15%;
}
.bg_line2 {
  position: absolute;
  bottom: 3%;
  right: 5%;
}

/* HOME */

/* ABOUT */

.about_text {
  color: var(--second-color);
}

.about_text h1 {
  font-size: 100px;
}

.about_text p {
  font-size: 36px;
}

.bg_about_line1 {
  position: absolute;
  top: 105%;
  left: 5%;
}
.bg_about_line2 {
  position: absolute;
  top: 190%;
  right: 0;
}

/* ABOUT */

/* SKILLS */

.skills_text {
  color: var(--second-color);
}

.skills_text h1 {
  font-size: 100px;
  line-height: 30px;
}

.skills_text p {
  font-size: 36px;
}

.skills_text li {
  font-size: 28px;
}

.bg_skills_line1 {
  position: absolute;
  top: 210%;
  left: 5%;
}
.bg_skills_line2 {
  position: absolute;
  top: 290%;
  right: 0;
}

.skills_bar {
  width: 50%;
  margin: auto 0;
}

.container {
  width: 100%;
  background-color: #003079;
  border-radius: 10px;
}

.skills {
  padding-top: 5px;
  padding-bottom: 5px;
  color: white;
  border-radius: 10px;
}

.skills_bar p {
  color: var(--first-color);
  font-weight: 500;
}

.skills_con {
  background-color: #2f2e41;
  padding: 1px 5px 5px 5px;
  border-radius: 15px;
  margin: 15px 0;
}

.html {
  width: 90%;
  background-color: var(--first-color);
}
.css {
  width: 80%;
  background-color: var(--first-color);
}
.js {
  width: 35%;
  background-color: var(--first-color);
}
.php {
  width: 30%;
  background-color: var(--first-color);
}

/* SKILLS */

/* WORKS */

.works_text {
  color: var(--second-color);
}

.works_text h1 {
  font-size: 100px;
  line-height: 30px;
}

.works_text p {
  font-size: 36px;
}

.works_text li {
  font-size: 28px;
}

.work_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.work_img {
  margin: 15px;
  box-shadow: 0 4px 25px rgba(14, 36, 49, 0.15);
  border-radius: 0.5rem;
}

.work_img img {
  transition: 1s;
  cursor: pointer;
}

.work_img img:hover {
  transform: scale(1.1);
}

.bg_works_line1 {
  position: absolute;
  top: 312%;
  left: 30%;
}
.bg_works_line2 {
  position: absolute;
  top: 390%;
  right: 0;
}

/* WORKS */

/* CONTACT */

.contact_text {
  color: var(--second-color);
}

div.contact_text h1 {
  font-size: 50px;
  line-height: 30px;
}

.contact_text p {
  font-size: 36px;
}

.contact_text li {
  font-size: 28px;
}

.contact_input {
  padding: 1rem;
  border-radius: 0.5rem;
  margin: 15px;
  outline: none;
  background-color: var(--second-color);
}
.contact_button {
  border: none;
  outline: none;
  cursor: pointer;
  background-color: var(--first-color);
  border: none;
  border-radius: 5px;
  color: var(--second-color);
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
}

.contact_content .small {
  width: 20%;
}
.contact_content .large {
  width: 40%;
}

/* CONTACT */
